<style>

body {
ackground-color: #000000;
color: #FFFFFF
}

h1 {
font-size: 20px
}

p {
color:green;
font-size: 12px
}


ul {
list-style-type: square
}

ol {
list-style-type: lower-alpha
}

</style>
